*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{  
    display: block;
    width: 100%;
    background-color: rgb(123, 92, 0);
    padding:10px;
    color: #fff;
    text-transform:uppercase;
    border-radius:15px;
    margin: 10px auto;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: rgb(221, 165, 0);
    text-decoration:underline;
}

body{
    background-color: #222222;
}

header h1, header h2{
    text-align: center;
    color: #fff;
    margin: 10px 5px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    padding: 10px;
    margin: 30px;
    text-align: center;
    border: 3px solid rgb(164, 123, 0);
}

.container .nft_image{
    display: block;
    max-width: 700px;
    height: 300px;
    width: 100%;
}


footer{
    text-align: center;
    color: #fff;
    font-size:23px;
}

footer span{
    font-weight:bold;
}

@media screen and (max-width: 768px) {
    header h2{
        font-size:18px;
    }
}

@media screen and (max-width: 568px) {
    header h2 {
        font-size: 16px;
    }
}


@media screen and (max-width: 468px) {
    header h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 368px) {
    header h1{
        font-size:16px;
    }
    header h2 {
        font-size: 10px;
    }
}